
<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle w-50" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Catergories
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Cellphones and wearables</a>
        <a class="dropdown-item" href="#">TV, Audio & Video</a>
        <a class="dropdown-item" href="#">Office & Stationery</a>
        <a class="dropdown-item" href="#">Vouchers & Gifts</a>
    </div>
</div>